%botonbase {
  margin: 10px;
  padding: 05px;
  border: 02px solid black;
  border-radius: 05px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15%;
  background-color: gray;
  color: white;

}

%flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

%flexcolumn { 
  display: flex;
  flex-direction: column;
  align-items: center; }


  


%estilos-logos {
   width: 70px;
   height: 70px;
   border-radius: 50%;


}

%flexxcolumn { 
  display: flex;
  flex-direction: column;
  align-items: center;
}
%medida-img1 { 
  width: 100px;
  height: 100px;
}

%estilos-contacto-ps-5 {
   color: black;
   font-size: 22px;
   font-weight:bold;

}

%estilos-section-nosotros {
    color: white;
    font-size: 18px;
    font-weight: bolder;
    


}