$estilero: (
  Back-ground-oscuro: rgb(0, 0, 0), 
  colorSecundario:rgb(65, 62, 62),
  colorTextoClaro: rgb(255, 253, 253),
  colorTextoOscuro: brown,
  paddingDefault: 15px,
  borderadius: 05px,
  displayFlex: flex,
  flexColumn: column,
  flexxrow: row,
  justify-content-center: center,





);


